about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 240px;
  padding-block: 32px;
}

about ul li:last-child img{
  right: 20px;
  width: 176px;
  height: 176px;
}